:root {
  --link-accent: #2196f3;
  --firstly-accent: #000000;
  --secondary-accent: #ffffff;
  --main-text: #212121;
  --secondary-text: #757575;
  --secondary-back: #2f303a;
  --hero-bg: #C4C4C4;
  --secbtn-color:#188ce8;
  --adress-color:rgba(255, 255, 255, 0.6);
  --border-accent:#ECECEC;
  --back-button:#f5f4fa;
  --sec-border-accent: #EEEEEE;
  --icon-color:#AFB1B8;
  --margin9:9px;
  --margin10:10px;
  --margin16:16px;
  --margin30:30px;
  --margin50:50px;
  --padding30:30px;
  --padding32:32px;
  --padding60:60px;
  --padding94:94px;
  --padding200:200px;
}

body {
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.03em;
}

/* Off style link */
.link {
  text-decoration: none;
}

/* Off style list */
.list {
  list-style-type: none;
}

/* margin-padding off */
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

.container{
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  /* outline: 2px solid tomato; */
}


/* ===========HEADER=========== */
.header-flex{
  border-bottom: 1px solid var(--border-accent);
}

.header-flex .container {
  display: flex;
  align-items: center;
}

/* Logo */
.header-logo {
  margin-right: 93px;
}

.header-logo,
.footer-logo {
  color: var(--link-accent);

  font-family: 'Raleway', sans-serif;
  font-size: 26px;
  line-height: 1.19;
}

/* Logo accent */
.logo-firstly {
  color: var(--firstly-accent);

}

/* Menu nav */
.header-list {
  display: flex;
}

.header-item:not(:last-child) {
  margin-right: var(--margin50);
}

.header-list .link {
  color: var(--main-text);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  display: block;
  padding-top: var(--padding32);
  padding-bottom: var(--padding32);
}


/* Contacts */
.contacts{
  display: flex;
  margin-left: auto;
  }

.contacts-item:not(:last-child){
  margin-right: var(--margin50);
}

 /* .contacts-icon{
  width: 16px;
  height: 12px;
  fill: var(--secondary-text);
  margin-right: 10px;
} */

.contacts .link {
  color: var(--secondary-text);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  padding-top: var(--padding32);
  padding-bottom: var(--padding32);
}

/*Active */
.link.active {
  color: var(--link-accent);
}

.header-list .link:hover,
.header-list .link:focus,
.contacts .link:hover,
.contacts .link:focus {
  color: var(--link-accent);
}

/* ===========HERO=========== */

.hero {
  max-width: 1600px;
  height: 600px;
  background-color: var(--hero-bg);
  background-image: linear-gradient( 
    rgba(47, 48, 58, 0.4), 
    rgba(47, 48, 58, 0.4)),
    url(../images/hero-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  margin-right: auto;
  margin-left: auto;
  padding-top: var(--padding200);
  padding-bottom: var(--padding200);

  text-align: center;
}

.hero-capt {
  
  color: var(--secondary-accent);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  max-width: 700px;
  margin-right: auto;
  margin-bottom: var(--margin30);
  margin-left: auto;
}

/* Button */
.btn {
  background: var(--link-accent);
  color: var(--secondary-accent);

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;

  border-radius: 4px;
  padding: 10px var(--padding32);
  min-width: 200px;
}

.btn:hover,
.btn:focus {
  background-color: var(--secbtn-color);
}

/* =========Section our advantage========== */

.our-advantage{
  padding-top: var(--padding94);
}

/*cant see */
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.advantage-list{
display: flex;
}

.list-item:not(:last-child){
  margin-right: var(--padding30);
}

.advantage-icon{
  width: 270px;
  height: 120px;
  background-color: var(--back-button);
  padding-top: 25px;
  padding-right: 100px;
  padding-bottom: 25px;
  padding-left: 100px;
}

.item-caption{
  color: var(--main-text);

  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-top: var(--margin30);
  margin-bottom: var(--margin10);
}

.item-text {
  color: var(--secondary-text);

  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;

  max-width: 270px;
}

/* =============What we do=================== */

.what-we-do{
  padding-top: var(--padding94);
  padding-bottom: var(--padding94);
}

.section-caption {
  color: var(--main-text);

  font-size: 36px;
  line-height: 1.16;
  text-align: center;

  margin-bottom: var(--margin50);
}

.what-list{
  display: flex;
  margin-right: calc(-1 * var(--padding30));
}

.what-item{
  flex-basis: calc(100% / 3 - var(--padding30));
  margin-right: var(--padding30);
}

.img{
  display: block;
  max-width: 100%;
  height: auto;
}

/* ==========Section our team ===================*/

.team {
  background-color: #f5f4fa;
  padding-top: var(--padding94);
  padding-bottom: var(--padding94);
}

.team-list{
  display: flex;
  margin-right: calc(-1 * var(--padding30));
}

.item-team{
  flex-basis: calc(100% / 4 - var(--padding30));
  margin-right: var(--padding30);
  width: 270px;
  height: 428px;
  background-color: var(--secondary-accent);
  border-radius: 0px 0px 4px 4px;
}

.team-padding{
  text-align: center;
  padding: var(--padding30);

}

.team-caption {
  color: var(--main-text);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;

  margin-bottom: var(--margin10);
}

.team-text {
  color: var(--secondary-text);

  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;

  margin-bottom: var(--margin16);
}

.team-soc-list{
  display: flex;
  justify-content: center;
}

.team-soc-item + .team-soc-item{
  margin-left: var(--margin10);
}

.team-soc-link{
  width: 44px;
  height: 44px;
  background-color: var(--secondary-accent);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  fill:var(--icon-color);
}

.team-soc-link:hover,
.team-soc-link:focus{
  background-color: var(--link-accent);
  fill: var(--secondary-accent);
}

/* =============FOOTER====================== */

.footer {
  background-color: var(--secondary-back);
  padding-top: var(--padding60);
  padding-bottom: var(--padding60);
}
.footer-logo{
display: block;
margin-bottom: 20px;
}

.logo-secondary {
  color: var(--secondary-accent);
}

.item-adress:not(:last-child){
  margin-bottom: var(--margin9);
}
.item-adress .link {
  color: var(--secondary-accent);

  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;

  display: block;
}

.link.adress {
  color: var(--adress-color);
}

.link.adress:hover,
.link.adress:focus,
.item-adress .link:hover,
.item-adress .link:focus {
  color: var(--link-accent);
}

/* ==========Portfolio =================*/

.our-works{
  padding-top: var(--padding94);
  padding-bottom: var(--padding94);
}

.works-list{
  display: flex;
  margin-bottom: var(--margin50);
  justify-content: center;
}

.works-item:not(:last-child){
  margin-right: 8px;
}

.item-btn {
  background: var(--back-button);
  color: var(--main-text);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  cursor: pointer;

  padding-top: 6px;
  padding-right: 22px;
  padding-bottom: 6px;
  padding-left: 22px;
  border-radius: 4px;
  border: var(--back-button);
}

.item-btn:hover,
.item-btn:focus {
  background: var(--link-accent);
  color: var(--secondary-accent);
}

.gallery{
  display: flex;
  flex-wrap: wrap;
  margin-right: calc(-1 * var(--padding30));
  margin-bottom: calc(-1 * var(--padding30));
}

.gallery-item{
  flex-basis: calc(100% / 3 - var(--padding30));
  margin-right: var(--padding30);
  margin-bottom: var(--padding30);
}

.gallery-ptext{
  padding-top: 20px;
  padding-right: 24px;
  padding-bottom: 20px;
  padding-left: 24px;
  border-right: 1px solid var(--sec-border-accent);
  border-bottom: 1px solid var(--sec-border-accent);
  border-left: 1px solid var(--sec-border-accent);

}

.gallery-capt {
  color: var(--main-text);

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  margin-bottom: 4px;
}
.gallery-text {
  color: var(--secondary-text);

  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
}
